<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="componentChoice">
      <ion-segment-button value="one">Component one</ion-segment-button>
      <ion-segment-button value="two">Component two</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <component-one *ngIf="componentChoice == 'one'"></component-one>
  <componen-two *ngIf="componentChoice == 'two'"></componen-two>
</ion-content>
